{% extends 'base.html' %}
{% load static %}

{% block body %}

<body>
    <h1>Your Nomio Documents</h1>
    <br>
        <a class="btn" href="{% url 'upload' %}" >Upload</a>

    <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="15">

            <!--if LegalDocListView returns context variable -->
            {% if legaldoc_list %}
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Date Uploaded</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- iterate through LegalDocListView variable -->
                {% for file in legaldoc_list %}

                <tr>
                    <td>

                        {{ file.doc.name }}

                    </td>

                    <!-- file upload date -->
                    <td>{{ file.up_date }}</td>

                    <td>

                        {% if file.doc %}
                        <a href="{{ file.doc.url }}" class="btn" target="_blank">
                            View File</a>
                        {% else %}
                        <span class="text-muted">No File</span>
                        {% endif %}
                    </td>

                    <td>
                        {% if file.doc %}
                        <a href="{{ file.doc.url }}" download class="btn">
                            Download File</a>
                        {% else %}
                        <span class="text-muted">No File</span>
                        {% endif %}
                    </td>

                    <td>
                        {% if file.doc %}
                        <a href="{% url 'delete' pk=file.pk %}" class="btn" >Delete File</a>
                        {% else %}
                        <span class="text-muted">No File</span>
                        {% endif %}
                    </td>

                </tr>

                {% endfor %}
            {% else %}
                <p> You have not uploaded any files yet</p>
            {% endif %}
            </tbody>
        </table>

{% endblock %}

</body>