{% load static %}

<!DOCTYPE html>

<head>
  {% block head %}
    <title>Nomio</title>
    <link rel="stylesheet" href="{% static 'nomio.css' %}" />
  {% endblock %}
</head>

<body>

  {% block menu %}
  <div class="sidenav">
    <a href="{% url 'index' %}">My Documents</a>
    <br>
    <a href="{% url 'upload' %}">Upload</a>
    {% if user.is_authenticated %}
   
<p>Logged In: {{ user.get_username }}</p>
    <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
    {% endif %} 
  </div>

{% endblock %}

{% block body %}{% endblock %}
</br>
  {% block pagination %}
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}
{% endblock %}</div>
</div>
</div>
</body>
</html>
